<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Spring MVC project</title>

    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>

<p class="h1 text-light text-center">Task scheduler</p>

<table class="table table-dark table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>DESCRIPTION</th>
        <th>STATUS</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="task : ${page.getContent()}" th:data-id="${task.id}">
        <td data-name="id" th:text="${task.id}"></td>
        <td data-name="description" th:text="${task.description}"></td>
        <td data-name="status" th:text="${task.status}"></td>
        <td>
            <button th:id="${task.id}+'_e'" class="is-edit">
                <img src="../static/img/edit.png">
            </button>
            <button th:id="${task.id}+'_s'" class="is-save">
                <img src="../static/img/save.png">
            </button>
        </td>
        <td>
            <button th:id="${task.id}+'_d'" class="is-delete">
                <img src="../static/img/delete.png">
            </button>
        </td>
    </tr>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
    +  New task
</button>
<div class="dropdown">
    <span class="h5 text-light">Quantity on page:</span>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" th:text="${page.getSize()}"></button>

    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a th:class="${page.getSize()} == 3 ? 'dropdown-item active' : 'dropdown-item'" href="#" th:href="@{/(page=${page.getNumber()},size=3)}">3</a></li>
        <li><a th:class="${page.getSize()} == 5 ? 'dropdown-item active' : 'dropdown-item'" href="#" th:href="@{/(page=${page.getNumber()},size=5)}">5</a></li>
        <li><a th:class="${page.getSize()} == 10 ? 'dropdown-item active' : 'dropdown-item'" href="#" th:href="@{/(page=${page.getNumber()},size=10)}">10</a></li>
    </ul>
</div>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li th:class="${page.getNumber()} == 0 ? 'page-item disabled' : 'page-item'">
            <a th:if="${page.getNumber()} == 0" class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            <a th:if="${page.getNumber()} != 0" class="page-link" href="#" th:href="@{/(page=${page.getNumber()}-1,size=${page.getSize()})}">Previous</a>
        </li>
        <li th:each="pageNumber : ${pageNumbers}" th:class="${page.getNumber()} == (${pageNumber}-1) ? 'page-item active' : 'page-item'">
            <a class="page-link" href="main.html" th:if="${page.getNumber()} != (${pageNumber}-1)" th:href="@{/(page=${pageNumber}-1,size=${page.getSize()})}" th:text="${pageNumber}"></a>
            <a class="page-link" href="#"  th:if="${page.getNumber()} == (${pageNumber}-1)" th:text="${pageNumber}"></a>
        </li>
        <li th:class="${page.getNumber()} == (${page.getTotalPages()}-1) ? 'page-item disabled' : 'page-item'">
            <a th:if="${page.getNumber()} == ${page.getTotalPages()-1}" class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            <a th:if="${page.getNumber()} != ${page.getTotalPages()-1}" class="page-link" href="#" th:href="@{/(page=${page.getNumber()}+1,size=${page.getSize()})}">Next</a>
        </li>
    </ul>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createTask" action="#" th:action="@{/}" th:object="${taskDTO}" method="post">
                    <div class="mb-3">
                        <label for="status-input" class="col-form-label">Status:</label>
<!--                        <input type="text" class="form-control" id="recipient-name">-->
                        <select th:field="*{status}" id="status-input" class="form-control">
                            <option th:each="statusName : ${statusNames}"
                                    th:value="${statusName}" th:text="${statusName}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description-input" class="col-form-label">Description:</label>
                        <textarea th:field="*{description}" class="form-control" id="description-input"></textarea>
                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">This field can't be empty</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="createTask" class="btn btn-primary">Create task</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    let statusNames = [[${statusNames}]];
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../static/script.js"></script>
</html>